"{{ module }}": {
  "scope": "yaml,ansible",
  "prefix": ["{{ module }}"],
  "body": [
{%- for module_snippet_line in module_snippet -%}
    "{{ module_snippet_line }}"{% if not loop.last %},{% endif %}
{% endfor -%}
  ],
  "description": "{{ ansible_filter(module_description) }}"
  }